.jumbotron {
	background-color: black; 
	font-color: white;
	background-size: cover;
}


#first_image {
	height: 200px;
    width: 50%;
}
h1 {
	text-align: center;
}

@keyframes body {
    from {background-color: red;}
    to {background-color: yellow;}
}
