
#first_image {
	height: 200px;
    width: 50%;
}
h1 {
	text-align: center;
}

body {
    background-color: 
}


.post {
	text-align: center;
	background-color: red;
}

.w3-card w3-margin w3-margin-top {
	text-align: right;
}

