<!DOCTYPE html>
<html>
<head>
	<title>Limitless Souls - About</title>
		
 	<!-- Latest compiled and minified CSS -->
 	<link rel="stylesheet"href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 
 	<!-- jQuery library -->
 	<scriptsrc="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 
 	<!-- Latest compiled JavaScript -->
 	<scriptsrc="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 
 	<meta name="viewport" content="width=device-width, initial-scale=1">

 <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<h1> Welcome To My Thoughts </h1>

<!-- 
<p> This is my personal blog </p> 
<p> This website is a <abbr title="Middle East Entepenures of Tomorrow">MEET</abbr> project. </p> 
-->
<div class="container">

<div class="jumbotron"> 
<p>Here you can share your 3am thoughts and writings with our lost community. </p>

</div>
</div>
<div id="first_image">
<img src="https://pbs.twimg.com/profile_images/640072036551790592/ZvuDVCiP.jpg">
</div>

<button type="button"> <a href="/post">Post Thoughts</a> </button>

	
</body>
</html>