<!DOCTYPE html> 
<html>
<head>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <a href="/about" class="w3-bar-item w3-button">Thoughts</a>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="/" class="w3-bar-item w3-button">About</a>
      <a href="/profile" class="w3-bar-item w3-button">My Profile</a>
      
    </div>
  </div>
</div>
<div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="https://s-media-cache-ak0.pinimg.com/originals/4b/ba/58/4bba58e12177fc5b276eef48011d2ef0.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="500" height="400">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">About my Website</h1><br>
      <h5 class="w3-center">Limitless Souls</h5>
      <p class="w3-large"> Here you can share your 3am thoughts and writings with our lost community.<span class="w3-tag w3-light-grey">seasonal</span> ingredients.</p>
      <p class="w3-large w3-text-grey w3-hide-medium"> Sign up, pick a nickname and enter our writing world! </p>
    </div>
  </div>
</body>
</html> 