<!DOCTYPE html>
<html>
	
<body background="http://cdn1.litlepups.net/resize/2016/05/18/medium-glamorous-dreams-themes.png">
<br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
		
		<div i='posts'>
		<form action = "/add_post" method = "post">
				<input type="text" name="user_name" placeholder="Nickname">
				<input type="text" name="thoughts" row="5" coloms="5" placeholder="Enter your thoughts here!"> 
				<input type="submit" namPic_Of_Dishe="Submit" value="submit">
				<!--<input type="text" name="Picture" placeholder="picture url"><br> -->
		</form>
		</div>
		<h1>Share your thoughts here!</h1>
</body>
</html>